ul{
   
    background-color: rgb(227, 24, 24);
    overflow: none;

}
li {
  
    display: inline-block;
    padding: 10px;
   
    
}
li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
    
}